/* Base Styles */
.root {
    /*-fx-background-image: url('path_to_your_image.png');*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-family: 'Press Start 2P';
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-height: 100pt;
    -fx-display: flex;
    -fx-justify-content: center;
    -fx-align-items: center;
}

/* Button Styles */
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 70px;
    -fx-padding: 10px 20px;
    -fx-margin: 10px 0;
    -fx-text-transform: uppercase;
    -fx-cursor: hand;
    -fx-font-family: 'serif';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0.5, 1, 1);
}

.button:pressed {
    -fx-background-color: #1c5986; /* Background color on press */
    -fx-text-fill: #bdc3c7;        /* Text color on press */
    -fx-border-color: #1c5986;     /* Border color on press */
}

.label {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: 'serif';
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-padding: 10px 20px;
    -fx-margin: 10px 0;
    -fx-text-transform: uppercase;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0.5, 1, 1);
}

.slider {
    -fx-margin: 10px;
}

.vbox {
    -fx-alignment: center;
}